<small>Student Name: <%= f.text_field :name %> </small>
<small>Student Age: <%= f.text_field :age %> </small>
<small>School ID: <%= f.text_field :school_id %> </small>
<small>Teacher ID: <%= f.text_field :teacher_id %> </small>
<p><%= f.submit :create %></p>
