<body>

  <span id="teacher-index-display">
    <h1>Teachers Dashboard</h1>
  </span>

  <section class="content-right">

    <aside>
      <div class='side-items'>
        <p class="read-more">Welcome Admin</p>
        <%= form_for(:teacher, :url => {:action => 'create'}) do |f| %>
          <% render(:partial => "form", :locals => {:f => f}) %>
        <% end %>
      </div>
    </aside>

    <article>
      <% @teachers.each do |teacher| %>
        <%= link_to teacher_path(id: teacher.id), :class => 'button white' do %>
          <div class='items'>
            <h2><%= teacher.name %></h2>
            <p>School: <%= teacher.school.name %></p>
            <p>Teacher Age: <%= teacher.age %></p>
            <p>Teacher ID: <%= teacher.id %></p>
          </div>
          <hr style='border: none;' />
        <% end %>
      <% end %>
    </article>

  </section>

</body>
