<h1>New Teacher!</h1>

<%= form_for @teacher do |f| %>
<p>Teacher Name: <%= f.text_field :name %> </p>
<p>Teacher Age: <%= f.text_field :age %> </p>
<p>School ID: <%= f.text_field :school_id %> </p>
<p><%= f.submit :create %></p>
<% end %>
