<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>
body>

  <span id="teacher-show-display">
    <h1><%= @teacher.name %></h1>
  </span>

  <section class="content-left">

    <div id="teacher-show-students">
      <article>
        <% @teacher.students.each do |student| %>
              <div class='items'>
                <h2>
                  <%= student.name %>
                </h2>
                <p>
                  Age:
                  <%= student.age %>
                </p>
                <p>
                  Student ID:
                  <code><%= student.id %></code>
                </p>
                <p>
                  School ID:
                  <code><%= student.school_id %></code>
                </p>
              </div>
          <hr style='border: none;' />
        <% end %>
      </article>
      <aside>
        <div class='side-items'>
          <small>Welcome Professor!</small>
          <p>Number of students: <%= @teacher.students.count %></p>
        </div>
      </aside>
    </div>

  </section>

</body>
