<h1>Edit School!</h1>

<%= form_for @school do |f| %>
<p>School Name <%= f.text_field :name %> </p>
<p>School Motto: <%= f.text_field :motto %> </p>
<p>School Location: <%= f.text_field :location %> </p>
<p><%= f.submit method: "UPDATE" %></p>
<% end %>
