<h1>Schools Dashboard <small>Welcome district manager</small></h1>

<body>

  <span id="school-display">
    <h1>Schools Dashboard</h1>
  </span>

  <section>
    <aside>
      <div class='side-items'>
      </div>
    </aside>

    <article>
      <% @schools.each do |school| %>
      <div class='items'>
        <h2>
          <%= school.name %>
          <small class="location"><%= school.location %></small>
        </h2>
        <p>
          School Motto:
          <%= school.motto %>
        </p>
        <p>
          School ID:
          <%= school.id %>
        </p>
        <p>
          Number of teachers:
          <%= school.teachers.count %>
        </p>
        <p>
          Number of students:
          <%= school.students.count %>
        </p>
      </div>
      <% end %>
      <hr style='border: none;' />
    </article>
  </section>

</body>
