
<body>

  <span id="school-index-display">
    <h1>Schools Dashboard</h1>
  </span>

  <section class="content-right">
    <aside>
      <div class='side-items'>
        <small>Welcome district manager</small>
        <a href="#"><h3 class="arrow">></h3><h3>Schools</h3></a>
        <a href="#"><h3 class="arrow">></h3><h3>Students</h3></a>
        <a href="#"><h3 class="arrow">></h3><h3>Teachers</h3></a>
      </div>
    </aside>

    <article>
      <% @schools.each do |school| %>
        <%= link_to school_path(id: school.id), :class => 'button white' do %>
            <div class='items'>
              <h2>
                <%= school.name %>
                <small class="location"><%= school.location %></small>
              </h2>
              <p>
                School Motto:
                <%= school.motto %>
              </p>
              <p>
                School ID:
                <%= school.id %>
              </p>
              <p>
                Number of teachers:
                <%= school.teachers.count %>
              </p>
              <p>
                Number of students:
                <%= school.students.count %>
              </p>
            </div>
        <hr style='border: none;' />
        <% end %>
      <% end %>
    </article>

  </section>

</body>
