<h1>Schools Dashboard <small>Welcome district manager</small></h1>

<body>

<% @schools.each do |school| %>
  <h2>
    
    <%= school.name %>
  </h2>
  <p>
    Located:
    <%= school.location %>
  </p>
  <p>
    School Motto:
    <%= school.motto %>
  </p>
  <p>
    School ID:
    <%= school.id %>
  </p>
  <p>
    Number of teachers:
    <%= school.teachers.count %>
  </p>
  <p>
    Number of students:
    <%= school.students.count %>
  </p>
  <span id="school-display">
    <h1>Schools Dashboard</h1>
  </span>


<% end %>
</body>
