<body>

  <span id="school-show-display">
    <h1><%= @school.name %></h1>
  </span>

  <section class="content-left">

    <div id="school-show-info">
      <article>
        <div class='items'>
          <p>School Motto: <%= @school.motto %></p>
          <p>School Location: <%= @school.location %></p>
        </div>
      </article>
      <aside>
        <div class='side-items'>
          <small>Welcome district manager</small>
          <p>Number of teachers: <%= @school.teachers.count %></p>
          <p>Number of students: <%= @school.students.count %></p>
        </div>
      </aside>
    </div>

    <div id="school-show-teachers">
      <article>
        <% @school.teachers.each do |teacher| %>
              <div class='items'>
                <h2>
                  <%= teacher.name %>
                </h2>
                <p>
                  Age:
                  <%= teacher.age %>
                </p>
                <p>
                  Teacher ID:
                  <code><%= teacher.id %></code>
                </p>
                <p>
                  School ID:
                  <code><%= teacher.school_id %></code>
                </p>
              </div>
          <hr style='border: none;' />
        <% end %>
      </article>
      <aside>
        <div class='side-items'>
          <small>Welcome district manager</small>
          <h2><%= link_to "Create new teacher", new_teacher_path(school_id: @school.id) %></h2>
        </div>
      </aside>
    </div>

    <div id="school-show-students">
      <article>
        <% @school.students.each do |student| %>
              <div class='items'>
                <h2>
                  <%= student.name %>
                </h2>
                <p>
                  Age:
                  <%= student.age %>
                </p>
                <p>
                  Student ID:
                  <code><%= student.id %></code>
                </p>
                <p>
                  School ID:
                  <code><%= student.school_id %></code>
                </p>
                <p>
                  Teacher ID:
                  <code><%= student.teacher_id %></code>
                </p>
              </div>
          <hr style='border: none;' />
        <% end %>
      </article>
      <aside>
        <div class='side-items'>
          <small>Welcome district manager</small>
          <h2><%= link_to "Create new student", new_student_path(school_id: @school.id) %></h2>
        </div>
      </aside>
    </div>

  </section>

</body>
